@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Montserrat&display=swap");

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
html,
body,
#root,
#root > div {
  height: 100%;
}
:root {
  --color-clicap: #2c4580;
  --color-clicap-grey: #bdbdbd;
  --color-clicap-greylight: #bdbdbd21;
  --color-clicap-hover: #a45701;
  --color-clicap-focus: rgb(200 106 2 / 50%);
  --color-icon-error: #ed2b2a;
}
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px;
}
.h-100 {
  min-height: 100%;
}
.table thead th {
  /* border-bottom: 2px solid var(--color-clicap); */
  border-bottom: 2px solid #2864f6;
}
.icon-size-table {
  font-size: 1.2rem;
}
.btn-edit-table:hover {
  color: #3a4f7a;
}

.btn-delete-table:hover {
  color: #eb455f;
}
.btn-certificate-table:hover {
  color: #439a97;
}
.modal-50w {
  min-width: 50%;
}
.modal-80w {
  min-width: 80%;
}
.center-filters {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.overflow-x {
  overflow-x: auto;
}

.color-icon-error{
  color: var(--color-icon-error);
}
.color-icon-edit{
  color: #146C94;
}

@media (max-width: 480px) {
  .overflow-x {
    overflow-x: auto;
  }
}
