@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Montserrat&display=swap');
* {
  font-family: 'Inter Tight', sans-serif !important;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  --color-clicap: #2c4580;
  --color-clicap-grey: #bdbdbd;
  --color-clicap-greylight: #bdbdbd21;
  --color-clicap-hover: #a45701;
  --color-clicap-focus: rgb(200 106 2 / 50%);
}
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table thead th {
  border-bottom: 2px solid var(--color-clicap);
}
.icon-size-table {
  font-size: 1.2rem;
}
.btn-edit-table:hover {
  color: blue;
}

.btn-delete-table:hover {
  color: red;
}
.modal-50w {
  min-width: 50%;
}
.center-filters {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
