@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  --color-exactian: #2c4580;
  --color-exactian-grey: #BDBDBD;
  --color-exactian-greylight: #bdbdbd21;
  --color-exactian-hover: #a45701;
  --color-exactian-focus: rgb(200 106 2 / 50%);
}
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}