<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clicap</title>
  </head>
  <body>
    <div style="text-align:center;"><img
        style="width: 250px;"
        src="cid:logo"
        alt="Logo"
      /></div>
    <h1 style="font-weight:bold;text-align:center;"> ! Nueva corrección !</h1>
    <p>Estimado {{evaluatorName}}</p>
    <p>El trabajo
      {{titleTp}}
      a sido corregido. Ingrese al sitio del evento e
      ingrese sesión con su usuario y contraseña, luego seleccione del menú la
      opción "Mis trabajos". Para poder ver las correcciones del mismo.</p>
    <p>Saludos</p>
    <p>Comisión organizadora.</p>
    <p>Eventos FCAI.</p>
  </body>
</html>