<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eventos FCAI</title>
</head>

<body>
  <div style="text-align:center;"><img style="width: 250px;" src="cid:logo" alt="Logo" /></div>
  <h1 style="font-weight:bold;text-align:center;">
    ¡ Nuevo trabajo creado !</h1>
  <div>
    <p>Estimado administrador/a {{adminName}}</p>
    <p>El usuario {{userName}} ha creado el trabajo
      <strong>"{{jobName}}"</strong>
      ya disponible para poder corregir por los evaluadores.
    </p>
    <p>
      Por favor, dirígase al sitio del evento e ingrese
      sesión con su N° de DNI/Pasarporte y contraseña, luego en su perfil seleccione la opción
      "Listado de Trabajos" en el menú de la izquierda.
    </p>
    <p>Para visualizar la entrega deberá hacer click en el botón "Visualizar versiones" y luego podrá descargar la
      ultima versión.</p>
    <p>En el "Listado de trabajos" podrá asignar los evaluadores correspondientes haciendo click en el ícono del usuario
      que se encuentra a la derecha del botón "Evaluaciones"</p>
    <p>Una vez que los evaluadores realicen su revisión, recibirá otra notificación para enviar la corrección al usuario.</p>
    <p>Gracias por su tiempo.</p>
    <p>Comisión Organizadora.</p>
    <p><a href="https://eventosfcai.com.ar/">Eventos FCAI</a></p>
  </div>
</body>

</html>