<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eventos FCAI</title>
</head>

<body>
  <div style="text-align:center;"><img style="width: 250px;" src="cid:logo" alt="Logo" /></div>
  <h1 style="font-weight:bold;text-align:center;">
    ¡ Nueva versión del trabajo !</h1>
  <div>
    <p>Estimado evaluador/a {{evaluatorName}}</p>
    <p>Hay una nueva versión del trabajo
      {{jobName}}
      ya disponible para poder corregir.
    </p>
    <p>
      Por favor, dirígase al sitio del evento e ingrese
      sesión con su N° de DNI/Pasarporte y contraseña, luego en su perfil seleccione la opción
      "Trabajos asignados" en el menú de la izquierda.
    </p>
    <p>Para visualizar la entrega deberá hacer click en el botón "Visualizar versiones" y luego podrá descargar la ultima versión.</p>
    <p>Una vez observado el trabajo, podrá volver a la tabla de trabajos asignados y hacer click en el botón "Evaluar"</p>
    <p>Haciendo click en el enlace al final de este correo obtendrá una redirección a nuestro sitio.</p>
    <p>Gracias por su tiempo.</p>
    <p>Comisión Organizadora.</p>
    <p><a href="https://eventosfcai.com.ar/">Eventos FCAI</a></p>
  </div>
</body>

</html>