<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos FCAI</title>
  </head>
  <body>
    <div style="text-align:center;"><img
        style="width: 250px;"
        src="cid:logo"
        alt="Logo"
      /></div>
    <h1 style="font-weight:bold;text-align:center;">
      ¡ Nuevo Rol Asignado !</h1>
    <div>
      <p>Estimado usuario {{name}}</p>
      <p>
        Le ha sido asignado un nuevo Rol: <strong>{{roleName}}</strong>
      </p>
      <p>
        La próxima vez que ingrese a nuestro sistema, podrá visualizar una nueva sección en el panel de la izquierda, denominado "Trabajos asignados".
      </p>
      <p>Una vez que los administradores le realicen una asignación para evaluar un trabajo será notificado por email.</p>
      <p>Gracias por su tiempo.</p>
      <p>Comisión Organizadora.</p>
      <p><a href="https://eventosfcai.com.ar/">Eventos FCAI</a></p>
    </div>
  </body>
</html>