<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos FCAI</title>
  </head>
  <body>
    <div style="text-align:center;"><img
        style="width: 250px;"
        src="cid:logo"
        alt="Logo"
      /></div>
    <h1 style="font-weight:bold;text-align:center;">
      ¡ Nueva evaluación del trabajo !</h1>
    <div>
      <p>Estimado Administrador</p>
      <p>Hay una nueva evaluación del trabajo
        <strong>"{{jobName}}"</strong>
        para poder corregir.
      </p>
      <p>
        Dirígase al sitio del evento e ingrese
        sesión con su N° de DNI/Pasarporte y contraseña, luego en su perfil seleccione la opción
        "Listado de trabajos" en el menú de la izquierda.
      </p>
      <p>
        Para corregir el trabajo haga click en el botón "Evaluaciones".
      </p>
      <p>Gracias por su tiempo.</p>
      <p>Comisión Organizadora.</p>
      <p><a href="https://eventosfcai.com.ar/">Eventos FCAI</a></p>
    </div>
  </body>
</html>