<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eventos FCAI</title>
</head>

<body>
  <div style="text-align:center;"><img style="width: 250px;" src="cid:logo" alt="Logo" /></div>
  <h1 style="font-weight:bold;text-align:center;"> {{correctionStatus}} </h1>
  <p>Estimado {{evaluatorName}}</p>
  <p>El trabajo
    <strong>"{{titleTp}}"</strong>
    a sido corregido como <strong>"{{correctionName}}"</strong>
  </p>
  <p>Por favor, dirígase al sitio del evento e ingrese
    sesión con su N° de DNI/Pasarporte y contraseña, luego en su perfil seleccione la opción
    "Mis Trabajos" en el menú de la izquierda.</p>
  <p>Para visualizar la entrega deberá hacer click en el botón "Ver entregas" y luego podrá visualizar la correción recibida.</p>
  <p>En caso de no ser aceptado, podrá subir una nueva versión del trabajo haciendo click en el botón "Subir nueva versión"</p>
  <p>Gracias por su tiempo.</p>
  <p>Comisión Organizadora.</p>
  <p><a href="https://eventosfcai.com.ar/">Eventos FCAI</a></p>
</body>

</html>