<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clicap</title>
  </head>
  <body>
      <div style="text-align:center;"><img style="width: 250px;" src="cid:logo" alt="Logo"></div>
      <h1 style="font-weight:bold;text-align:center;"> ! Nuevo trabajo asignado !</h1>
      <div>
        <p>Estimado evaluador/a {{evaluatorName}}</p>
        <p>El trabajo {{jobName}} ha sido asignado para evaluar. Ingrese al sitio del evento e ingrese sesión con su usuario y contraseña,
          luego seleccione del menú la opción "Trabajos asignados". Para evaluar el trabajo haga 
          click en el boton evaluar y luego Nueva correccion.
        </p>
        <p>Por favor dirígase a la plataforma para poder verlo.</p>
        <p>Gracias por su tiempo.</p>
        <p>Comisión organizadora.</p>
        <p>CLICAP 2022.</p>
      </div>
  </body>
</html>