<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clicap</title>
  </head>
  <body>
      <div style="text-align:center;"><img style="width: 250px;" src="cid:logo" alt="Logo"></div>
      <h1 style="font-weight:bold;text-align:center;">Activar cuenta</h1>
      <p style="text-align:center;">Por favor presione el botón para activar su cuenta.</p>
      <div style="text-align:center;"><button style="background-color: #008CBA;border:none; border-radius: 10px;padding: 16px 32px;text-align: center;" type="button"><a style="text-decoration: none;color:white;font-size:15px" href={{url}} target="_blank">Activar cuenta</a></button></div>
  </body>
</html>