.showGearSide {
  display: block;
}
.rotate {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.rotate:active {
  transform: rotate(0deg);
  transition: 0s;
}
@media screen and (min-width: 480px) {
  .showGearSide {
    display: none;
  }
}
