.login-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-login{
    width: 30rem;
    padding-bottom: 1rem;
}
.logo-login{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
/* .form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: var(--color-exactian) !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--color-exactian-focus);
} */

.btn-login{
    width: 100%;
    background-color: var(--color-exactian) !important;
    border-color: var(--color-exactian) !important;
    color: white !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.btn-login:hover{
    background-color: var(--color-exactian-hover);
    border-color: var(--color-exactian-hover);
    color: white;
}
.btn-register{
    width: 100%;
    margin-top: 5px;
}