.importantDate-card {
  display: flex;
  /*   background-color: aqua; */
  color: #ffff;
  border-radius: 10px;
  padding: 1rem;
  background-color: #30A2FF;
  margin: 1rem;
  width: 50%;
}

@media(max-width:1300px){
  .importantDate-card {
    width: 60%;
  }
}

@media(max-width:900px){
  .importantDate-card {
    width: 70%;
  }
}

@media(max-width:600px){
  .importantDate-card {
    width: 90%;
  }
}

.imp-date-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.imp-date-description{
    font-size: 1.25rem;
}

.circle-icon-imp-date {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  /* background-color: #00C4FF; */
}
