.tooltip > div.tooltip-inner {
  background-color: var(--color-clicap) !important;
  color: white !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip > div.arrow::before {
  border-bottom-color: red !important;
  color: teal !important;
}

.boxcard-register-responsive {
  width: 70% !important;
}
@media screen and (max-width: 480px) {
  .boxcard-register-responsive {
    width: 90% !important;
  }

  .form-regis-responsive {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.card-top {
  margin-top: 2rem;
}
