.student-certificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-certificate-card {
  width: 45rem;
  margin: 0.5rem 0rem;
}

@media (max-width: 960px) {
  .student-certificate-card {
    width: 90vw;
    margin: 0.5rem 0rem;
  }
}
